@import url('htttps://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'popins' , sans-serif ,'7host';
    font-style: normal;
    src: url('fonts/NotoNastaliqUrdu-VariableFont_wght.ttf');
}
body{
    background-color: #393e46;
    overflow-x: hidden;
}
.navbar{
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.25rem;
    background-color: #222831;;
    background-position: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    display: flex;
    padding: 1.25rem;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
}
.pic{
    height: 75px;
    width: 145px;
}
.right-side{
    margin-left: 54%;
    display: flex;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    display: inline-block;
    justify-content: right;
    align-items: center;
    gap: 2.5rem;
}
.list li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}
.list li a{
    text-decoration: none;
    padding: 9px 20px;
    color: #EEEEEE;
    border-radius: 15px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.list li a:hover,
.list li a.active
{
    background: #00adb5;
    color: #EEEEEE;
    transition: .3s;
}  
.form-control,.btn{
    width: 90px;
    height: 30px;
    color: #EEEEEE;
    border: none;
    background-color: transparent;
}
.btn{
    background-color: #00adb5;
    color: #EEEEEE;
    margin-left: 5px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: normal;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
   .card {
    margin: 1.5rem;
    width: 375px;
    height: 450px;
    padding: 5px;
    margin-top: 80px;
    border-radius: 1rem;
    margin-left: 5%;
    overflow: visible;
    position: relative;
    z-index: 1;
    --background: linear-gradient(to left, #ff1177 0%, #EEEEEE 100%);
    background: #ff1177;
    background: var(--background);
   }
   
   .card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #ff1177;
    background: var(--background);
    transition: opacity .5s;
   }
   
   .card-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
   }
   
   .card .text {
    font-family: cursive;
    font-weight: bold;
    font-size: 11pt;
    letter-spacing: .1em;
   }
   
   /*Hover*/
   .card:hover::after {
    opacity: 0;
   }
   
   .card:hover .card-info {
    color: #EEEEEE;
    transition: color 1s;
   }
   .title{
    display: inline-block;
    color: #EEEEEE;
    background-color:#ff1177 ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border-radius: .7rem;
    padding: 3.5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 27.7%;
   }
   .text{
    padding: 7px;
    margin: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #EEEEEE;
    }
    .icon{
      display: flex;
      justify-content: center;
      margin: auto;  
      color: #fff;
      font-size: 115px;
      animation: first_color 0.5s ease-in-out infinite alternate;
    }
    @keyframes first_color {
      0%{
        text-shadow: 0 0 10px #ff1177,
        0 0 20px #d5249f, 0 0 15px #285aeb
      }
      100%{
        text-shadow: 0 0 5px #ff1177,
        0 0 10px #d6249f, 0 0 15px #285aeb
      }
    } 
    .card2 {
        margin: 1.5rem;
        --background: linear-gradient(to left, #0077b6 0%, #EEEEEE 100%);
        margin-top: -29.5rem;
        margin-left: 37.5%;
        width: 375px;
        height: 450px;
        padding: 5px;
        border-radius: 1rem;
        overflow: visible;
        background: #0077b6;
        background: var(--background);
        position: relative;
        z-index: 1;
       }
       
       .card2::after {
        position: absolute;
        content: "";
        top: 30px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        transform: scale(0.8);
        filter: blur(25px);
        background: #0077b6;
        background: var(--background);
        transition: opacity .5s;
       }
       
       .card-info2 {
        --color: #181818;
        background: var(--color);
        color: var(--color);
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: visible;
        border-radius: .7rem;
       }
       
       .card2 .text2 {
        font-family: cursive;
        font-weight: bold;
        letter-spacing: .1em;
       }
       
       /*Hover*/
       .card2:hover::after {
        opacity: 0;
       }
       
       .card2:hover .card-info2 {
        color: #EEEEEE;
        transition: color 1s;
       }
       .title2{
        display: inline-block;
        color: #EEEEEE;
        background-color:#0077b6 ;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        border-radius: .7rem;
        padding: 3.5px;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        margin-top: 1.5rem;
        margin-left: 27.7%;
       }
       .text2{
        padding: 7px;
        margin: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 10.5pt;
        color: #EEEEEE;
        }
        .icon2{
          color: #fff;
          font-size: 115px;
          margin-left: 30.3%;
          animation: second_color 0.5s ease-in-out infinite alternate;
        }
        @keyframes second_color {
          0%{
            text-shadow: 0 0 10px #0077b6,
            0 0 20px #030457, 0 0 15px #285aeb
          }
          100%{
            text-shadow: 0 0 5px #0077b6,
            0 0 10px #030457, 0 0 15px #285aeb
          }
        }
    .card3{
        margin: 1.5rem;
        --background: linear-gradient(to left, #FF0000 0%, #EEEEEE 100%);
        margin-top: -29.5rem;
        margin-left: 70%;
        width: 375px;
        height: 450px;
        padding: 5px;
        border-radius: 1rem;
        overflow: visible;
        background: #FF0000;
        background: var(--background);
        position: relative;
         z-index: 1;
        }
            .card3::after {
              position: absolute;
              content: "";
              top: 30px;
              left: 0;
              right: 0;
              z-index: -1;
              height: 100%;
              width: 100%;
              transform: scale(0.8);
              filter: blur(25px);
              background: #FF0000;
              background: var(--background);
              transition: opacity .5s;
             }
            .card-info3 {
              --color: #181818;
              background: var(--color);
              color: var(--color);
              align-items: center;
              width: 100%;
              height: 100%;
              overflow: visible;
              border-radius: .7rem;
             }
             .card3 .text3 {
              font-family: cursive;
              font-weight: bold;
              letter-spacing: .1em;
             }
             /*Hover*/
             .card3:hover::after {
              opacity: 0;
             }
             .card3:hover .card-info3 {
              color: #EEEEEE;
              transition: color 1s;
             }
             .title3{
              display: inline-block;
              color: #EEEEEE;
              background-color:#FF0000;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 1.5rem;
              border-radius: .7rem;
              padding: 3.5px;
              padding-left: 10px;
              padding-right: 10px;
              align-items: center;
              margin-top: 1.5rem;
              margin-left: 30%;
             }
             .text3{
              padding: 7px;
              margin: 1rem;
              margin-top: 1.5rem;
              margin-bottom: 1.5rem;
              color: #EEEEEE;
              font-size: 10.5pt;
              }
              .icon3{
                color: #fff;
                font-size: 100px;
                margin-left: 34.3%;
                margin-top: 10px;
                animation: third_color 0.5s ease-in-out infinite alternate;
              }
              @keyframes third_color {
                0%{
                  text-shadow: 0 0 10px #FF0000,
                  0 0 20px #FF0000, 0 0 15px #950101
                }
                100%{
                  text-shadow: 0 0 5px #FF0000,
                  0 0 10px #FF0000, 0 0 15px #950101
                }
            }
            .insta-id{
                color: #d5249f;
            }
            .telegram-id{
                color: #0077b6;
            }
            .youtube-id{
                color: #FF0000;
            }
      .page2{
      background-color: #EEEEEE;
      margin-top: 100px;
      height: 100%;
      width: 100%;
        }  
      .street-studios{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 40px;
              filter: drop-shadow(-5px -5px 3px rgba(255,255,255,0))
                      drop-shadow(7px 7px 7px rgba(0,0,0,0.2))
                      drop-shadow(15px 15px 15px rgba(0,0,0,0.2));
      }
      .image img{
        width: 300px;
        height: 300px;
      }
      .cont{
        max-width: 1080px;
        margin-inline: auto;
        padding: 80px 15px;
        margin-top: -40px;
      }
      .comment{
        margin-bottom: 50px;
      }
      .titre span{
        display: block;
      }
      .primary {
        font-size: clamp(20px, 5vw, 43px);
        text-transform: uppercase;
        color: #0d0c22;
        filter: drop-shadow(-5px -5px 3px rgba(255,255,255,0))
                drop-shadow(7px 7px 7px rgba(0,0,0,0.2))
                drop-shadow(15px 15px 15px rgba(0,0,0,0.2));
      }
      .secondary {
        font-size: clamp(14px, 2.5vw, 16px);
        font-weight: 400;
        color: #0d0c22;
        filter: drop-shadow(-5px -5px 3px rgba(255,255,255,0))
                drop-shadow(7px 7px 7px rgba(0,0,0,0.2))
                drop-shadow(15px 15px 15px rgba(0,0,0,0.2));
      }
      .gallery-wrapper {
        display: flex;
      }
      .gallery-item {
        position: relative;
        isolation: isolate;
        display: flex;
        flex: 1;
        height: 500px;
        background-color: #000;
        padding: 25px;
        opacity: 1;
        overflow: hidden;
        transition: flex 0.5s, opacity 0.25s;
      }
      .gallery-item:hover {
        opacity: 1;
        flex: 5;
      }
      .gallery-item:not(:hover) {
        opacity: 0.75;
      }
      .item-image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .item-description {
        align-self: flex-end;
        text-transform: uppercase;
        color: #222831;
      }
      .name {
        font-size: 37px;
        background: linear-gradient(90deg, #f32d5b, #ff009b);
        padding-inline: 10px;
        transform: translateY(-10px);
      }
      .role {
        display: inline-block;
        background: linear-gradient(90deg, #4136d9, #0086c7);
        padding: 10px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(10px);
      }
      .name,
      .role {
        opacity: 0;
        transition: opacity 0.25s, transform 0.3s;
        transition-delay: 0.35s;
      }
      .gallery-item:hover .name,
      .gallery-item:hover .role {
        opacity: 1;
        transform: translateY(0);
      }
      .gallery-item:not(:hover) .name,
      .gallery-item:not(:hover) .role {
        transition-delay: 0s;
      }
      .page3{
        background-color: #FFD95A;
        height: 100%;
        width: 100%;
      }
      .st{
        color: #025464;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        padding-top: 70px;
        font-size: 72pt;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      .about-us-1{
        font-size: 18pt;
        color: #27374D;
        font-family: 'Times New Roman', Times, serif;
        padding: 100px;
        margin-top: -50px;
      }
      .about-us-2{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        font-family: 'Times New Roman', Times, serif;
        padding: 100px;
      }
      .about-us-3{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        font-family: 'Times New Roman', Times, serif;
        padding: 100px;
      }
      .about-us-4{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        font-family: 'Times New Roman', Times, serif;
        padding: 100px;
      }
      .about-us-5{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        font-family: 'Times New Roman', Times, serif;
        padding: 100px;
      }
      .about-us-6{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        font-family: 'Times New Roman', Times, serif;
        padding: 100px;
      }
      .pe1{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        padding: 100px;
        direction: rtl;
        font-family: 'Times New Roman', Times, serif;
      }
      .pe2{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        padding: 100px;
        direction: rtl;
      }
      .pe3{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        padding: 100px;
        direction: rtl;
      }
      .pe4{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        padding: 100px;
        direction: rtl;
      }
      .pe5{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        padding: 100px;
        direction: rtl;
      }
      .pe6{
        font-size: 18pt;
        color: #27374D;
        margin-top: -175px;
        padding: 100px;
        direction: rtl;
        font-family: 'Times New Roman', Times, serif;
      }
      @media screen and (max-width: 768px) {
        .right-side{
          margin-left: 1%;
        }
        .pic{
          height: 30px;
          width: 65px;
          margin-left: 5%;
        }
        .list li a{
          font-size: 1rem;
          padding: 5px 6px;
        }
        .list li{
          margin: 0 0;
        }
        .card{
          width: 130px;
          height: 300px;
          margin: 0;
          margin-left: 3px;
          margin-top: 1.5rem;
        }
        .text{
          display: none;
        }
        .icon{
          margin-top: 40%;
          font-size: 100px;
        }
        .title{
          font-size: 1rem;
          margin-left: 15px;
        }
        .card2{
          width: 130px;
          height: 300px;
          margin-top: -18.75rem;
          margin-left: 135px;
        }
        .text2{
          display: none;
        }
        .icon2{
          margin-top: 50%;
          font-size: 80px;
          margin-left: 22px;
        }
        .title2{
          font-size: 1rem;
          margin-left: 18px;
        }
        .card3{
          width: 130px;
          height: 300px;
          margin-top: -20.1rem;
          margin-left: 270px;
        }
        .text3{
          display: none;
        }
        .icon3{
          margin-top: 50%;
          font-size: 80px;
          margin-left: 29px;
        }
        .title3{
          font-size: 1rem;
          margin-left: 20px;
        }
        .image img{
          width: 250px;
          height: 250px;
        }
        .gallery-wrapper {
          flex-direction: column;
          height: 100vh;
        }
        .gallery-item:hover {
          flex-basis: 100%;
        }
        .cont{
          max-width: 670px;
        }
        .about-us-1{
          padding-left: 25px;
          padding-right: 25px;
        }
        .about-us-2{
          padding-left: 25px;
          padding-right: 25px;
        }.about-us-3{
          padding-left: 25px;
          padding-right: 25px;
        }.about-us-4{
          padding-left: 25px;
          padding-right: 25px;
        }.about-us-5{
          padding-left: 25px;
          padding-right: 25px;
        }.about-us-6{
          padding-left: 25px;
          padding-right: 25px;
        }
        .pe1{
          padding-left: 25px;
          padding-right: 25px;
        }
        .pe1{
          padding-left: 25px;
          padding-right: 25px;
        }
        .pe2{
          padding-left: 25px;
          padding-right: 25px;
        }
        .pe3{
          padding-left: 25px;
          padding-right: 25px;
        }
        .pe4{
          padding-left: 25px;
          padding-right: 25px;
        }
        .pe5{
          padding-left: 25px;
          padding-right: 25px;
        }
        .pe6{
          padding-left: 25px;
          padding-right: 25px;
        }
      }